################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/bin
/obj
/RgbLan.DiscordBot.Service/obj/Debug
/RgbLan.Discord.Common/obj/Debug
/DataAccess/obj/Debug
*.user
/RgbLan.Lan.DataAccess/bin/Debug
/RgbLan.Lan.DataAccess/obj/Debug
/RgbLan.DiscordBot.Service/bin/Debug
/RgbLan.DiscordBot.RgbDiscordBotConsole/bin/Debug
/RgbLan.DiscordBot.RgbDiscordBotConsole/obj/Debug
/RgbLan.Discord.Common/bin/Debug
