################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/bin
/obj
/RgbLan.DiscordBot.Service/obj/Debug
/RgbLan.Discord.Common/obj/Debug
/DataAccess/obj/Debug
